---
layout: default
---
<h3><a id="welcome-to-aa-calc" class="anchor" href="#welcome-to-aa-calc" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to AA-Calc.</h3>
<p>This web-based weight and balance calculator will <i>help</i> you do your "homework" before you go flying with Alternate Air aircraft.</p>

<h3><a id="caveat-lector" class="anchor" href="#caveat-lector" aria-hidden="true"><span class="octicon octicon-link"></span></a>Caveat Lector</h3>
<p><code>NOTICE:</code> This calculator is presented as an aid. You, as pilot in command, are solely responsible for assuring correct data and proper loading of your aircraft prior to flight!</p>

{{content}}
